.layout-container {
  display: flex;
  min-height: 100vh;
  background: #f5f6fa;
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
}

.main-content {
  flex: 1;
  background: #f5f5f5;
  padding: 20px;
}

.page-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.settings-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.settings-item label {
  font-weight: bold;
  width: 150px;
  text-align: right;
  margin-right: 10px;
}
.settings-item input[type="text"],
.settings-item input[type="email"]
{
  flex: none;
  width: 350px;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #046307;
  font-size: 14px;
  background: #fff;
  color: black;
}
.password-wrapper {
  position: relative;
  flex: none;
  width: 350px
}

.password-wrapper input {
  width: 100%;
  padding: 8px 40px 8px 10px;
  border-radius: 6px;
  border: 1px solid #046307;
  font-size: 14px;
  background: #fff;
  color: black;
}

.password-toggle-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: #444;
}

.password-toggle-icon:hover {
  color: #046307;
}

.save-settings-btn {
  background: #4caf50 ;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.save-settings-btn:hover {
  background: #218838;
}
