.topbar-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: #046307;
  width: 100%;
  border-radius: 0 0 70px 70px;
  box-sizing: border-box;
  min-height: 90px;
  margin-top: 0;
  
}
.topbar-center {
  width: 100%;
}

.topbar-center.dashboard {
  display: flex;
  align-items: center;   /* pantay vertically */
  justify-content: space-between; /* pagitan text at image */
  width: 100%;
}

.topbar-center.dashboard h3 {
  color: white !important;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
}
.admin-name h3 {
  font-weight: 700;
  color: #ffeb3b; /* bright yellow for emphasis */
}
.profile img.topbar-profile {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #198754;
  margin-left: 10px;
  transition: transform 0.2s ease-in-out;
}

.profile img.topbar-profile:hover {
  transform: scale(1.05);
}


.topbar-content h3 {
  margin: 0;
  color: white !important;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;

}
.topbar-center .patients {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-bar {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.search-input {
  padding: 12px 16px 12px 40px; /* space for icon */
  border: 1.5px solid #046307;
  border-radius: 8px;
  width: 100%; /* mas malaki */
  box-sizing: border-box;
  font-size: 1.2rem;
  background-color: white;
  color: black;
}

.search-bar .search-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  color: #046307;
  pointer-events: none;
}
.topbar-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.archive-btn {
  background-color: #f0ad4e;
  border: none;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.archive-btn:hover {
  background-color: #ec971f;
}

